--recursive

--suffix=none

--exclude=CMakeLists.txt

--style=linux

--indent=spaces=4

--lineend=linux

--indent-labels

--unpad-paren

--pad-oper

--pad-paren-in

--add-brackets

--align-pointer=name

--keep-one-line-statements

--convert-tabs

--indent-preprocessor

--formatted